  <h2>Search Authors</h2>
  <form action="/authors" method="GET">
  <label >Name</label>
  <input type="text" name="name" value=<%= searchOptions.name %>  >
  <button type="submit">Search</button>
  </form>

  <ul>
<% for(i=0;i<authors.length;i++){ %>
  
    <li><%= authors[i].name  %> </li>
    <a href="/authors/<%= authors[i].id%>">View</a>
    <a href="/authors/<%= authors[i].id%>/edit">Edit</a>
  <%- include('../partials/deleteForm.ejs',{url:`/authors/${authors[i].id}`})%> 
    <% } %> 
    </ul>